/* Minhas Alterações */
@font-face {
    font-family: CaviarDreams;
    src: url('font/CaviarDreams.ttf');
}
@font-face {
    font-family: Gravity;
    src: url('font/Gravity-Regular.otf');
}
@font-face {
    font-family: Meatloaf;
    src: url('font/MeatloafSketched.ttf');
}

.logotipo {
	font-family:Meatloaf;
}

/* Background */
body{
    background-image: linear-gradient(to left, #548FCE,#3F4AD8,#6F42C1,#B949D8,#CE3F96); 
}
.ctp-0 {
    background-color: rgba(255,255,255, .95);
}

/* TEXTO COLORIDO */
/*rosa*/
.text-crosa{
    color:#CE3F96!important
}

/*lilas*/
.text-clilas{
    color:#B949D8!important
}

/*roxo*/
.text-croxo{
    color:#6f42c1!important
}

/*azul escuro*/
.text-cazule{
    color:#3F4AD8!important
}

/*azul claro*/
.text-cazulc{
    color:#548FCE!important
}

/* Texto */
.text-roxo{
    color:#6f42c1!important
}
a.text-roxo:focus,a.text-roxo:hover{
    color:#6f42c1!important
}

/* Background color */
.bg-roxo{
    background-color:#6f42c1!important
}
a.bg-roxo:focus,a.bg-roxo:hover,button.bg-roxo:focus,button.bg-roxo:hover{
    background-color:#6f42c1!important
}
/* Botão */
.btn-roxo{
    color:#fff;
    background-color:#6f42c1;
    border-color:#6f42c1
}
.btn-roxo:hover{
    color:#6f42c1;
    background-color:#fff;
    border-color:#6f42c1
}
.btn-roxo.focus,.btn-roxo:focus{
    box-shadow:0 0 0 .2rem #6e42c1be
}
.btn-roxo.disabled,.btn-roxo:disabled{
    color:#fff;
    background-color:#6e42c1be;
    border-color:#6e42c1be
}
.btn-roxo:not(:disabled):not(.disabled).active,.btn-roxo:not(:disabled):not(.disabled):active,.show>.btn-roxo.dropdown-toggle{
    color:#fff;
    background-color:#6f42c1;
    border-color:#6f42c1
}
.btn-roxo:not(:disabled):not(.disabled).active:focus,.btn-roxo:not(:disabled):not(.disabled):active:focus,.show>.btn-roxo.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem #6e42c1be
}

/********** FIM DAS ALTERAÇõES ***************/
