/* Minhas Alterações */
@font-face {
    font-family: CaviarDreams;
    src: url('font/CaviarDreams.ttf');
}
@font-face {
    font-family: Gravity;
    src: url('font/Gravity-Regular.otf');
}
@font-face {
    font-family: Meatloaf;
    src: url('font/MeatloafSketched.ttf');
}

.logotipo {
	font-family:Meatloaf;
}

/* Background */
body{
    background-image: url("../img/login-bg.jpg"); 
}
.ctp-0 {
    background-color: rgba(255,255,255, .95);
}

/* TEXTO COLORIDO */
/*rosa*/
.text-verde{
    color:#243f11!important
}

/*lilas*/
.text-clilas{
    color:#3F4AD8!important
}

/*roxo*/
.text-azul{
    color:#204a87!important
}

/*azul escuro*/
.text-cazule{
    color:#3F4AD8!important
}

/*azul claro*/
.text-cazulc{
    color:#548FCE!important
}

/* Texto */
.text-roxo{
    color:#243F11!important
}
a.text-roxo:focus,a.text-roxo:hover{
    color:#243F11!important
}

/* Background color */
.bg-roxo{
    background-color:#243F11!important
}
a.bg-roxo:focus,a.bg-roxo:hover,button.bg-roxo:focus,button.bg-roxo:hover{
    background-color:#6f42c1!important
}
/* Botão */
.btn-roxo{
    color:#fff;
    background-color:#243F11;
    border-color:#243F11
}
.btn-roxo:hover{
    color:#243F11;
    background-color:#fff;
    border-color:#243F11
}
.btn-roxo.focus,.btn-roxo:focus{
    box-shadow:0 0 0 .2rem #6ff0000
}
.btn-roxo.disabled,.btn-roxo:disabled{
    color:#fff;
    background-color:#6ff0000;
    border-color:#243F11
}
.btn-roxo:not(:disabled):not(.disabled).active,.btn-roxo:not(:disabled):not(.disabled):active,.show>.btn-roxo.dropdown-toggle{
    color:#fff;
    background-color:#6ff0000;
    border-color:#6f42c1
}
.btn-roxo:not(:disabled):not(.disabled).active:focus,.btn-roxo:not(:disabled):not(.disabled):active:focus,.show>.btn-roxo.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem #243F11
}

/********** FIM DAS ALTERAÇõES ***************/
