/* Minhas Alterações */
@media (min-width: 768px) { 
    .capsula {
        position: relative;
        width: 80%;
        left: 10%;
    } 
}


@media (min-width: 992px) {  
    .capsula {
        position: relative;
        width: 60%;
        left: 20%;
    }
}
.navbar-border {
    box-shadow: 1px 2px 5px black;
}

.logo{
    font-family: CaviarDreamsBold;
    font-weight: bolder;
    font-size: 1.8em;
    width :30%;
   
}
.logo:hover {
    text-decoration: none;
}
a:active {
    background-color: #d3d7cf;
}
/* FONTS */
@font-face {
    font-family: CaviarDreams;
    src: url('font/CaviarDreams.ttf');
}
@font-face {
    font-family: CaviarDreamsBold;
    src: url('font/CaviarDreams_Bold.ttf');
}
@font-face {
    font-family: Gravity;
    src: url('font/Gravity-Regular.otf');
}
@font-face {
    font-family: Meatloaf;
    src: url('font/MeatloafSketched.ttf');
}

.font {
    font-family: Meatloaf;
}

.font-1 {
    font-size: 1.2em;
}
.font-2 {
    font-size: 1.4em;
}
.font-3 {
    font-size: 1.6em;
}
.font-4 {
    font-size: 1.8em;
}
.font-5 {
    font-size: 2em;
}

/* Background */
.bg-cf{
    background-image: linear-gradient(to left, #548FCE,#3F4AD8,#6F42C1,#B949D8,#CE3F96); 
}
.ctp-0 {
    background-color: rgba(255,255,255, .95);
}

.bg-roxo{
    background-color:#6f42c1!important
}
a.bg-roxo:focus,a.bg-roxo:hover,button.bg-roxo:focus,button.bg-roxo:hover{
    background-color:#6f42c1!important
}

.bg-azulc{
    background-color:#548FCE!important
}

.bg-rosa{
    background-color:#CE3F96!important
}

.thead-rosa{
    background-color:#CE3F96!important;
    border: 2px solid #CE3F96;
    color: white;
}

/* TEXTO COLORIDO */
/*rosa*/
.text-crosa{
    color:#CE3F96!important
}

/*lilas*/
.text-clilas{
    color:#B949D8!important
}

/*roxo*/
.text-croxo{
    color:#6f42c1!important
}

/*azul escuro*/
.text-cazule{
    color:#3F4AD8!important
}

/*azul claro*/
.text-cazulc{
    color:#548FCE!important
}

/* Texto */
.text-roxo{
    color:#6f42c1!important
}
a.text-roxo:focus,a.text-roxo:hover{
    color:#6f42c1!important
}


/* Botão */
.btn-roxo{
    color:#fff;
    background-color:#6f42c1;
    border-color:#6f42c1
}
.btn-roxo:hover{
    color:#6f42c1;
    background-color:#fff;
    border-color:#6f42c1
}
.btn-roxo.focus,.btn-roxo:focus{
    box-shadow:0 0 0 .2rem #6e42c1be
}
.btn-roxo.disabled,.btn-roxo:disabled{
    color:#fff;
    background-color:#6e42c1be;
    border-color:#6e42c1be
}
.btn-roxo:not(:disabled):not(.disabled).active,.btn-roxo:not(:disabled):not(.disabled):active,.show>.btn-roxo.dropdown-toggle{
    color:#fff;
    background-color:#6f42c1;
    border-color:#6f42c1
}
.btn-roxo:not(:disabled):not(.disabled).active:focus,.btn-roxo:not(:disabled):not(.disabled):active:focus,.show>.btn-roxo.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem #6e42c1be
}


.btn-rosa{
    color:#fff;
    background-color:#CE3F96;
    border-color:#CE3F96
}
.btn-rosa:hover{
    color:#CE3F96;
    background-color:#fff;
    border-color:#CE3F96
}
.btn-rosa.focus,.btn-rosa:focus{
    box-shadow:0 0 0 .2rem #CE3F96be
}
.btn-rosa.disabled,.btn-rosa:disabled{
    color:#fff;
    background-color:#CE3F96be;
    border-color:#CE3F96be;
}
.btn-rosa:not(:disabled):not(.disabled).active,.btn-rosa:not(:disabled):not(.disabled):active,.show>.btn-rosa.dropdown-toggle{
    color:#fff;
    background-color:#CE3F96;
    border-color:#CE3F96
}
.btn-rosa:not(:disabled):not(.disabled).active:focus,.btn-rosa:not(:disabled):not(.disabled):active:focus,.show>.btn-rosa.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem #CE3F96be
}


.btn-azulc{
    color:#fff;
    background-color:#548FCE;
    border-color:#548FCE
}
.btn-azulc:hover{
    color:#548FCE;
    background-color:#fff;
    border-color:#548FCE
}
.btn-azulc.focus,.btn-azulc:focus{
    box-shadow:0 0 0 .2rem #548FCEbe
}
.btn-azulc.disabled,.btn-azulc:disabled{
    color:#fff;
    background-color:#548FCEbe;
    border-color:#548FCEbe;
}
.btn-azulc:not(:disabled):not(.disabled).active,.btn-azulc:not(:disabled):not(.disabled):active,.show>.btn-azulc.dropdown-toggle{
    color:#fff;
    background-color:#548FCE;
    border-color:#548FCE
}
.btn-azulc:not(:disabled):not(.disabled).active:focus,.btn-azulc:not(:disabled):not(.disabled):active:focus,.show>.btn-azulc.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem #548FCEbe
}

.btn-azule{
    color:#fff;
    background-color:#3F4AD8;
    border-color:#3F4AD8
}
.btn-azule:hover{
    color:#3F4AD8;
    background-color:#fff;
    border-color:#3F4AD8
}
.btn-azule.focus,.btn-azule:focus{
    box-shadow:0 0 0 .2rem #3F4AD8be
}
.btn-azule.disabled,.btn-azule:disabled{
    color:#fff;
    background-color:#3F4AD8be;
    border-color:#3F4AD8be;
}
.btn-azule:not(:disabled):not(.disabled).active,.btn-azule:not(:disabled):not(.disabled):active,.show>.btn-azule.dropdown-toggle{
    color:#fff;
    background-color:#3F4AD8;
    border-color:#3F4AD8
}
.btn-azule:not(:disabled):not(.disabled).active:focus,.btn-azule:not(:disabled):not(.disabled):active:focus,.show>.btn-azule.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem #3F4AD8be
}
/********** FIM DAS ALTERAÇõES ***************/
