/* Minhas Alterações */
@media (min-width: 768px) { 
    .capsula {
        position: relative;
        width: 80%;
        left: 10%;
    } 
}


@media (min-width: 992px) {  
    .capsula {
        position: relative;
        width: 60%;
        left: 20%;
    }
}

/* FONTS */
@font-face {
    font-family: CaviarDreams;
    src: url('font/CaviarDreams.ttf');
}
@font-face {
    font-family: CaviarDreamsBold;
    src: url('font/CaviarDreams_Bold.ttf');
}
@font-face {
    font-family: Gravity;
    src: url('font/Gravity-Regular.otf');
}
@font-face {
    font-family: Meatloaf;
    src: url('font/MeatloafSketched.ttf');
}

.font {
    font-family: Meatloaf;
}

.font-1 {
    font-size: 1.2em;
}
.font-2 {
    font-size: 1.4em;
}
.font-3 {
    font-size: 1.6em;
}
.font-4 {
    font-size: 1.8em;
}
.font-5 {
    font-size: 2em;
}

/* Texto */
.text-one{
    color:#52834d!important
}

.text-two {
	color:#908D5E!important;
}

.text-three {
	color: #819A53!important;
}

/* Background color */
.bg-one {
    background-color:#52834d!important;
}

.bg-two {
	background-color:#908D5E!important;
}

.bg-three {
	background-color:#819A53!important;
}

/* Botão */
.btn-one{
    color:#fff;
    background-color:#52834d;
    border-color:#52834d;
}
.btn-one:hover{
    color:#52834d;
    background-color:#fff;
    border-color:#52834d;
}

.btn-two{
    color:#fff;
    background-color:#908D5E;
    border-color:#908D5E;
}
.btn-two:hover{
    color:#908D5E;
    background-color:#fff;
    border-color:#908D5E;
}

.btn-three{
    color:#fff;
    background-color: #819A53;
    border-color: #819A53;
}
.btn-three:hover{
    color: #819A53;
    background-color:#fff;
    border-color: #819A53;
}

.btn-four{
    color:#fff;
    background-color:;
    border-color:;
}
.btn-four:hover{
    color:;
    background-color:#fff;
    border-color:;
}